*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}

header{
    background:#222;
    color:white;
    padding:15px 0;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:80%;
    margin:auto;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:80px 20px;
    background:white;
}

.hero h2{
    font-size:40px;
}

.hero p{
    margin:15px 0;
}

button{
    padding:10px 20px;
    border:none;
    background:#007bff;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

section{
    width:80%;
    margin:40px auto;
}

h2{
    margin-bottom:20px;
}

.skill-box span{
    display:inline-block;
    background:#007bff;
    color:white;
    padding:10px;
    margin:5px;
    border-radius:5px;
}

.project-card{
    background:white;
    padding:20px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:20px;
    margin-top:40px;
}